/* SCREEN CSS FOR BAREFOOTBRAINSTORMING.COM */

/* GLOBAL MARGINS */

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
   }

h1, h2, h3, h4, h5, h6, p, blockquote, form, label, ul, ol, dl, fieldset, address {
    margin-bottom: .5em;
   }
   
/* COLORS USED */
   
/* Colours */
/* Green: #b3bd1c */

.sideBorderRight { border-right: 1px solid #cccccc; }
.sideBorderLeft { border-left: 1px solid #cccccc; }

body {
   margin: 0;
   padding: 0;
   background: #ffffff url("../images/barefoot_bg.gif");
   font-family: Verdana, Arial, Helvetica, sans-serif;
   color: #333333;
   font-size: 62.5%;
   }
   
/* GENERAL */
   
h1 { color: #003f60; font-weight: normal; }
h2 { color: #003f60; font-weight: normal; font-size: 1.8em; }
h3 { color: #003f60; font-weight: bold; font-size: 1.4em; }

p {
   font-size: 1.1em;
   line-height: 1.6em;
   margin-bottom: 1.6em;
   }
   
blockquote { font-size: .9em; color: #003f60;; padding: 5px 5px 0 5px; background-color: #ffffff; }
   
.hidden { visibility: hidden; }

.float_left { 
   float: left;
   padding-right: 10px;
   }
   
.float_right {
   float: right;
   padding-left: 10px;
   }

input {
   border: 0;
   padding: 2px;
   color: #333333;
   margin-bottom: 5px;
   }
   
input.sign_up {
 font-size: 10px;
 background-color: #ff7200;
 color: #ffffff;
 margin-right: 6px;
}

/* LAYOUT */

div#logo { 
   position: absolute;
   margin: 10px 0 0 30px;
   z-index: 500;
   display: block;
   width: 206px;
   height: 204px;
   }
   
div#logo h1 {
   margin: 0;
   padding: 0;
   line-height: 0;
   text-indent: -2100px;
   }
   
div#logo img { border: none; }
   
div#header_wrap {
   margin: 0; 
   width: 100%;
   height: 229px;
   background: transparent url("../images/green_bg.gif");
   }
   
div#header {
   width: 968px;
   margin: 0 auto;
   padding: 0 28px;
   height: 229px;
   background: transparent url("../images/header_bg.gif") no-repeat;
   }
   
div#testimonial_header {
   width: 968px;
   margin: 0;
   height: 162px;
   }
   
div#testimonial_header img {
   margin: 0;
   padding: 0;
   border: 0;
   }

div#testimonial_header a {
   margin: 0;
   padding: 0;
   text-decoration: none;
   }
   
div#header-responsive {
	visibility: hidden;
	margin-top: -40px;
}   
   
div#wrapper {
   width: 968px;
   padding: 20px 29px 0 27px;
   margin: 0 auto;
   background: transparent url("../images/content_bg.gif") repeat-y;
   overflow: auto;
   }
   
div#left_column_home {
   float: left;
   padding: 0 24px;
   width: 182px;
   }
   
div#left_column_home p { font-size: 1em; padding-left: 10px; padding-right: 10px; }

   
div#case_study_home {
   width: 180px;
   border: 1px solid #f2f2f2;
   }
   
div#newsletter_signup {
   width: 180px;
   }
   
div#lego_certification {
   width: 180px;
   }
   
   #featured_certification img {
   	width: 180px;
   	margin-top: 10px;
   	}
   
div#right_column_home {
   float: right;
   padding: 0 20px;
   width: 698px;
   }
   
div#content_home {
   float: right;
   width: 420px;
   padding: 0 30px 0 20px;
   }
   
div#content_home p {
   font-size: 1.2em;
   line-height: 1.4em;
   margin-bottom: 1.6em;
   }
   
div#left_column {
   float: left;
   width: 228px;
   padding: 0 10px 0 20px;
   }
   
div#right_column {
   float: right;
   width: 710px;
   overflow: hidden;
   }
   
div#content {
   padding: 0 20px;
   }
   
/* H1 SECTION TITLES */

h1.section_title { 
   display: inline;
   float: left;
   padding: 5px 0 215px;
   width: 228px;
   background: #ffffff url("../images/title_board_bottom.gif") bottom left no-repeat;
   color: #ffffff;
   text-indent: -9999999px;
   }
   
h1.section_title span {
   display: block;
   width: 228px;
   height: 88px;
   }
   
h1.mobile_section_title { 
   visibility: hidden;
   }   
   
h1#home span { background: transparent url("../images/h1_whats_the_big_idea.gif") no-repeat; }
h1#who span { background: transparent url("../images/h1_who_is_barefoot.gif") no-repeat; }
h1#services span { background: transparent url("../images/h1_our_services.gif") no-repeat; }
h1#why span { background: transparent url("../images/h1_why_go_barefoot.gif") no-repeat; }
h1#clients span { background: transparent url("../images/h1_our_clients.gif") no-repeat; }
h1#news span { background: transparent url("../images/h1_in_the_news.gif") no-repeat; }
h1#contact span { background: transparent url("../images/h1_contact_us.gif") no-repeat; }
   
   
/* MAIN NAVIGATION */   

div#main_navigation ul {
   list-style-type: none;
   margin: 0 0 0 243px;
   }
   
#main_navigation ul li {
   float: left;
   }
   
#main_navigation ul li a {
   display: block;
   height: 67px;
   overflow: auto;
   text-indent: -2100px;
   background: url(../images/main_navigation.gif) no-repeat;
   }
   
#main_navigation ul li a#home {
   width: 55px;
   background-position: 0 0;
   }
   
body#location_home #main_navigation ul li a#home {
   width: 55px;
   background-position: 0 -67px;
   }
   
#main_navigation ul li a#home:hover {
   background-position: 0 -67px;
   }
   
#main_navigation ul li a#who {
   width: 129px;
   background-position: -55px 0;
   }
   
body#location_who #main_navigation ul li a#who {
   width: 129px;
   background-position: -55px -67px;
   } 
  
#main_navigation ul li a#who:hover {
   background-position: -55px -67px;
   }
   
#main_navigation ul li a#services {
   width: 108px;
   background-position: -184px 0;
   }
   
body#location_services #main_navigation ul li a#services {
   width: 108px;
   background-position: -184px -67px;
   }
   
#main_navigation ul li a#services:hover {
   background-position: -184px -67px;
   }

#main_navigation ul li a#why {
   width: 138px;
   background-position: -292px 0;
   }
   
body#location_why #main_navigation ul li a#why {
   width: 138px;
   background-position: -292px -67px;
   }
   
#main_navigation ul li a#why:hover {
   background-position: -292px -67px;
   }
   
#main_navigation ul li a#clients {
   width: 91px;
   background-position: -434px 0;
   }
   
body#location_clients #main_navigation ul li a#clients {
   width: 91px;
   background-position: -434px -67px;
   }
   
#main_navigation ul li a#clients:hover {
   background-position: -434px -67px;
   }
   
#main_navigation ul li a#news {
   width: 106px;
   background-position: -529px 0;
   }
   
body#location_news #main_navigation ul li a#news {
   width: 106px;
   background-position: -529px -67px;
   }
   
#main_navigation ul li a#news:hover {
   background-position: -529px -67px;
   }
   
#main_navigation ul li a#contact {
   width: 97px;
   background-position: -635px 0;
   }
   
body#location_contact #main_navigation ul li a#contact {
   width: 97px;
   background-position: -635px -67px;
   }
   
#main_navigation ul li a#contact:hover {
   background-position: -635px -67px;
   }
   
/* LEFT COLUMN STYLES */


div.row {
   clear: both;
   padding-top: 5px;
   }
  
div.row span {
  float: left;
  width: 20px;
  text-align: right;
  font-size: 1.1em;
  color: #ffffff;
  }

div.row input {
  float: right;
  width: 75px;
  height: 1em;
  text-align: left;
  }

   
/* CONTENT STYLES */
   
div#content { 
   padding: 0 75px 0 50px; 
   }
   
#content a, #content_home a, #left_column_home a { 
   color: #ff7f00; 
   text-decoration: none;
   }
   
#content a:hover, #content_home a:hover, #left_column_home a:hover {
   text-decoration: underline;
   }

#content h2 a { color: #003f60; }
#content h3 a { color: #003f60; text-decoration: underline; }


div.case_study {
   float: left;
   width: 150px;
   margin: 0  0 10px 10px;
   padding: 10px;
   background-color: #ffffff;
   font-size: .9em;
   }
   
div.case_study img {
   border: 1px solid #e2e4e1;
   margin-bottom: 5px;
   }
   
table.case_study td {
   padding: 0 10px;
   width: 250px;
   border-right: 1px solid #f2f2f2;
   font-size: .75em;
   }
   
ul#sitemap { 
   font-size: 1.2em; 
   list-style: none; 
   line-height: 1.5em;
   }
   
#sitemap li ul {
   font-size: 1em;
   list-style: none;
   margin-left: 15px;
   margin-bottom: 0;
   }
   
/* FOOTER */

div#footer {
   clear: both;
   text-align: center;
   margin: 10px auto;
   color: #666666;
   }
   
#footer p { font-size: 1em;}
   
#footer a { 
   color: #ff7f00;
   text-decoration: none;
   }
   
#footer a:hover { text-decoration: underline; }
   
ul#footer_navigation {
   list-style-type: none;
   }
   
#footer_navigation li {
   display: inline;
   margin: 0 10px;
   }
   
   /* RESPONSIVE STYLES */
      
   @media only screen and (max-width : 480px)   {
   
   body {
      background: #ffffff url("../images/barefoot_bg.gif");
      margin: 0;
      font-size: 110%;
      }
   
   div#header_wrap {
      display: none;
      }
   
   div#header-responsive {
   	visibility: visible;
   	margin-top: 0;
   }   
   
   div.rmm {
   		z-index:  100;
   		position: fixed;
   		background-color: #c3d021;
   }
   
   div#wrapper {
      width: 100%;
      padding: 10px 10px 0 10px;
      margin: 0 auto;
      background: #ffffff url('') no-repeat;
      overflow: none;
	      }
   
   div#left_column {
      float: none;
      width: 100%;
      padding: 0 0 0 0;
      }
      
   div#right_column {
      float: none;
      width: 100%;
      overflow: none;
      }
      
   div#content { 
      padding: 0 10px 0 10px; 
      } 
      
   h1.section_title { 	
     display: none;
     }  
    
   h1.mobile_section_title { 
      visibility: visible;
      color: #ee2d24;
      margin-top: 35px;
      font-size: 2em;
      font-family: georgia, times, serif;
    } 
    
    	
      }
